<div class="headerF">
    <h3>Pagina de funcionario</h3>
    <div class="links">
        <a href="/logout"><i class="bi bi-box-arrow-right"></i></a>
        <a href="/vendas">Vendas</a>
        <a href="/pedidos">Pedidos</a>
    </div>
</div>

<div class="cadastrados">
    <h3>Clientes Cadastrados</h3>

    <table border="1">
        <tr>
            <th>ID cliente</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Endereco</th>
            <th>Pontos Fidelidade</th>
        </tr>
        {{#each cadastrados}}
        <tr>
            <td>{{idCliente}}</td>
            <td>{{nomeCliente}}</td>
            <td>{{telefoneCliente}}</td>
            <td>{{endereco}}</td>
            <td>{{pontosFidelidade}}</td>
        </tr>
        {{else}}
        <p>Ainda nao ha clientes cadastrados.</p>
        {{/each}}
    </table>
</div>