<div class="headerF">
    <h3>Pagina de funcionario</h3>
    <div class="links">
        <a href="/logout"><i class="bi bi-box-arrow-right"></i></a>
        <a href="/pedidos">Pedidos</a>
        <a href="/cadastrados">Cadastrados</a>
    </div>
</div>

<div class="entregues">
    <h3>Pedidos Entregues</h3>
    <table border="1">
        <tr>
            <th>ID Cliente</th>
            <th>ID Pedido</th>
            <th>Data Hora Cadastrado</th>
            <th>Data Hora Entrega</th>
            <th>Valor Frete</th>
            <th>Tipo de Pagamento</th>
            <th>Valor Pago</th>
            <th>Status Pedido</th>
        </tr>
        {{#each vendas}}
        <tr>
            <td>{{idCliente}}</td>
            <td>{{idPedido}}</td>
            <td>{{dataHoraCadastro}}</td>
            <td>{{dataHoraEntrega}}</td>
            <td>{{valorFrete}}</td>
            {{#ifTipoPagamento tipoPagamento}}{{/ifTipoPagamento}}
            <td>{{valorPago}}</td>
            <td>{{statusPedido}}</td>
        </tr>
        {{else}}
        <p>Sem Pedidos</p>
        {{/each}}
    </table>
</div>
